@using Entity
@model  IEnumerable<Food>

@{
    ViewBag.Title = "Home Page";
}

    <p>Index</p>
@*<div>
    @foreach (var item in Model)
    {
        <p>
            @item.FoodName
        </p>
    }
</div>*@